<!DOCTYPE html>
<html lang="en">
<%- include ('partials/heads.ejs', {headtittle: 'DETAIL PRODUCTS' , cssForm1:'',
  cssForm2:'/styles/detail-products-css/details.css' }); %>

<body class="grid-container">
  <%- include ('partials/header.ejs') %>
  <main class="products-container">
    <div class="products-container-details">
      <div class="pic">
        <img src="/assets/img/items2/anillo alas.jpg" alt="ring">
        <div id="icons-container-mobile">
          <div class="icons-container">
            <span> <i class="fa-solid fa-truck-fast"></i>&nbsp; &nbsp; Free Shipping Wolrdwide </span>
            <span> <i class="fa-solid fa-box"></i>&nbsp; &nbsp; Free 30 Days Return </span>
            <span> <i class="fa-solid fa-shield-heart"></i> &nbsp;&nbsp; Life Time Waranty </span>
          </div>
        </div>
      </div>

      <div class="description">
        <h1> <%-product.product_name %> </h1>
        <hr>
        <h2> <%- product.product_description %>
        </h2>
        <div class="price-detail">
          <span class="dollar">$</span>
          <span class="number"><%- product.price %></span>
          <!-- <span class="fractions">99</span> -->
        </div>
        <button class="buyBotton">BUY</button>
        <button class="cartBotton" productId="<%- product.id %>">ADD TO CART</button>
        <span class="sizing"><i> Ring Size:<a href="#">Sizing Help?</a> </i> </span>

      </div>
      <div class="relations">
        <div class="relationated-items">
          <span> -RELATIONATED ITEMS-</span>
        </div>
        <!-- ----------------TEMPORAL------------------- -->
      </div>


    </div>
    </div>
  </main>


  <%- include ('partials/footer.ejs') %>
  <%- include ('partials/scripts.ejs') %>

</body>

</html>